.header {
  width: 100%;
  position: fixed;
  text-transform: capitalize;
  background-color: var(--color-main-2);
}

.header-container {
  display: flex;
  justify-content: flex-end;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 1rem 1rem;
  color: var(--color-main-1);
}

.main-nav-item {
  padding: 0.5rem;
}
